svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#subset {
  /*position: absolute;*/
  float:left;margin-right:.5em;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow:scroll;
  background-color: white;
  /*-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);*/
  pointer-events: none;
}
			
#setx {
  /*position: absolute;*/
  float:left;margin-right:.5em;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow:scroll;
  background-color: white;
  /*-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);*/
/*  pointer-events: none;*/
}
			
.hidden {
  display: none;
}

.arc path {
  stroke: #fff;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,3;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

.left {
    width: 33.3%;
    height: 100%; /*was 600px;*/
    box-sizing: border-box; margin: 0;
    overflow:scroll;
}

.navbar-default {
    height: 62px;
}

#main svg {
    width:100%;
    height:100%;   /*was 600px;*/
}

#main.svg-leftpanel svg, #main.svg-rightpanel svg {width: 100%;} /* This is size when left/right panel minimized. Was: calc(100% - 300px);}*/

#main.svg-leftpanel.svg-rightpanel svg {width: 100%;}   /*  Was: calc(100% - 300px);} /*
/* Above changes fix issue when screen gets very small, and right margin is fixed at 300px, obscuring central display, even while left tab is shrinking below 300px */

div.popover.variables {
    max-width:none;
    width:300px;
}
div.popover.variables div.popover-content.form-horizontal {
    padding:0;
}
div.popover.variables div.popover-content.form-horizontal .form-group {
    margin-bottom:0;
}

#leftpanel {
    border: 1px solid #ADADAD;
    position: fixed;
    top: 72px;
    left: 10px;
    width: 250px;
    height: calc(100% - 122px);
    background: #F9F9F9;
    padding: 0 16px 0 0;
    z-index: 25;
}

#leftpanel #leftContentArea div {display:none;}
#leftpanel #leftContentArea div.active {display:block;}
#leftpanel.closepanel {width:1px;}
#leftpanel.closepanel #leftpaneltitle, #leftpanel.closepanel div.btn-toolbar, #leftpanel.closepanel div.row-fluid.closepanel {display:none;}

#leftpanel {
    border: 1px solid #ADADAD;
    position: fixed;
    top: 72px;
    left: 10px;
    width: 250px;
    height: calc(100% - 122px);
    background: #F9F9F9;
    padding: 0 16px 0 0;
    z-index: 25;
}

#rightpanel {
    border: 1px solid #ADADAD;
    position: fixed;
    top: 72px;
    right: 27px;
    width: 250px;
    height: calc(100% - 122px);
    background: #F9F9F9;
    padding: 0 0 0 16px;
    z-index: 25;
}

#rightpanel #rightContentArea div {display:none;}
#rightpanel #rightContentArea div.active {display:block;}
#rightpanel.closepanel {width:1px;}
#rightpanel.closepanel #rightpaneltitle, #rightpanel.closepanel div.btn-group-justified, #rightpanel.closepanel div.row-fluid.closepanel {display:none;}

div.sidepanel div.panelbar {
    position: absolute;
    height: 100%;
}

#leftpanel div#toggleLpanelicon.panelbar {
    left: calc(100% - 16px);
}

#rightpanel div#toggleRpanelicon.panelbar {
    right: calc(100% - 16px);
}

div.sidepanel div.panelbar span {
  display: flex;
  width: 16px;
  height: 100%;
  position:relative;
  justify-content:center;
  align-items:center;
  font-size: .75em;
  color: #ADADAD;
  background: #eee;
}

#main {
    border:1px solid #ADADAD;
    width: 100%;
    height: calc(100% - 62px - 40px);
    margin-top:62px;
    position: fixed;
    overflow:auto;
}

#canvas {
    width: 100%;
    height: calc(100% - 62px - 40px);
    margin: 62px 0 0 0;
    position: fixed;
    overflow: auto;
}

#ticker {
    position: fixed;
    height: 40px;
    width: 100%;
    background: #F9F9F9;
    bottom: 0;
    border-top: 1px solid #ADADAD;
    z-index: 1000;
}

#spacetools {
    z-index: 17;
}
.spaceTool {
    top:0; 
    right:21%;
    margin-right:10px; 
    margin-top:10px; 
    position:absolute;
}
.spaceTool button:first-child {
    margin-right:1em;
}
.spaceTool button span {
    font-size:1em;
    color:#818181;
    pointer-events:none;
}

#transformations {
    z-index:33;
    height:8%;
    width:14%; 
    right:200px;
    top:14px;
    position:absolute;
}
#transformations ul, #transformations ul li {
    list-style:none;
    margin-left:0;
    padding-left:0;
}
#transformations ul li {
    padding:1px 4px;
    text-align: left;
}
#transSel li:hover { background-color:rgba(250, 128, 114, 0.5); cursor:pointer;}
#transList li:hover { background-color:rgba(250, 128, 114, 0.5); cursor:pointer;}

.legendary {
    width:10%;
    position:absolute;
    bottom:0;
    right:21%;
    margin-right:10px;
    margin-bottom:10px;
}
.legendary .clearfix {
    margin-bottom:4px;
}
.legendary .rectColor {
    float:left;
    width:20px;
    height:20px;
    margin-right:4px;
    /*opacity: 0.5;*/
}
.legendary .rectColor circle {
    opacity: 0.5;
}
.legendary .rectLabel {
    float:left;
}

.logbox {
    width:15%;
    position:absolute;
    bottom:0;
    left:21%;
    margin-left:10px;
    margin-bottom:10px;
}
.logbox .clearfix {
    margin-bottom:4px;
}
.logbox .rectColor {
    float:left;
    width:20px;
    height:20px;
    margin-left:4px;
    opacity: 0.5;
}
.logbox .rectLabel {
    float:left;
}

#sandbox {
    width:500px;
    height:400px;
}

/* p { padding-left: 15px; } */

path { 
    fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
  pointer-events: fill;
}

table, th, td {
    border-collapse: collapse;text-align:right;
}
td {
    padding:4px;
}

/* Carousel */
.carousel-indicators {
    top:20px;
    bottom:auto;
}
.carousel-indicators li {
    border: 1px solid #818181;
}
.carousel-indicators li.active {
    background-color: #818181;
}
.carousel-indicators li#create, .carousel-indicators li#delete {
    border: 0;
    border-radius: 0;
    background-color: inherit;
    text-indent:0;
    font-size:12px;
    width:12px;
    height:12px;
    line-height:12px;
}
.carousel-indicators li#create .glyphicon {
    top:0;
}

.carousel-linked-nav,
.item img {
  display: block; 
  margin: 0 auto;
}

.carousel-linked-nav {
  width:200px;
  margin: 10px auto;   
}
.carousel-linked-nav li {position:relative;}

#carouselLeft {position:absolute;top:50%;left:calc(16px + 20%);z-index:30;font-size:2em;}
#carouselRight {position:absolute;top:50%;right:calc(16px + 20%);z-index:30;font-size:2em;}

.lowerError {
    fill: #4682b4;
}

.upperError {
  fill: silver;
  fill-opacity: 0.65;
}

.line {
  fill: #4682b4;
}

.nofill {
  fill: none;
}

